<link rel="stylesheet" href="/public/css/style.css" />
<!-- Fontawesome -->
<script
src="https://kit.fontawesome.com/42a182743f.js"
crossorigin="anonymous"
></script>
<!-- Google font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;500&display=swap"
rel="stylesheet"
/>
<!-- footer -->
    <footer>
        <div class="about">
          <h1><span class="logo-text">BlogStar </span> <span>Blog</span></h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
            recusandae, molestiae incidunt
          </p>
          <!-- Contacts -->
          <div class="contact">
            <span>
              <i class="fas fa-phone"></i>
              +91 86XXXX1667
            </span>
            <span>
              <i class="fas fa-envelope"></i>
              
              <a href="mailto:krishanu178@gmail.com">
                krishanu178@gmail.com
              </a>
            </span>
  
          </div>
          <!-- socials -->
          <div class="socials">
            <a href="">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="">
              <i class="fab fa-facebook"></i>
            </a>
           
      </footer>